 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('images/1N5A1200.jpg');
}

.u-section-1 .u-sheet-1 {
  min-height: 738px;
}

.u-section-1 .u-image-1 {
  height: 565px;
  width: 1108px;
  margin: 173px auto 0 -5px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 523px;
  }

  .u-section-1 .u-image-1 {
    height: 479px;
    width: 940px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 576px;
  }

  .u-section-1 .u-image-1 {
    height: 367px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 319px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 304px;
  }

  .u-section-1 .u-image-1 {
    height: 106px;
    margin-top: 125px;
    margin-bottom: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-2 {
  background-image: linear-gradient(#fef3e8, white);
}

.u-section-2 .u-sheet-1 {
  min-height: 317px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  font-size: 3.75rem;
  margin: 75px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 300;
  font-style: italic;
  width: 498px;
  margin: 39px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    margin-left: 278px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: 62px;
    margin-right: 62px;
  }

  .u-section-2 .u-text-2 {
    width: 433px;
    margin-left: auto;
    margin-bottom: 44px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    margin-left: 160px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 164px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    width: 249px;
    margin-top: 36px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.125rem;
    width: auto;
    margin: 20px 0 36px;
  }
} .u-section-3 {
  background-image: linear-gradient(white, #e0cfbe);
}

.u-section-3 .u-sheet-1 {
  min-height: 741px;
}

.u-section-3 .u-image-1 {
  min-height: 511px;
  height: auto;
  margin-top: 51px;
  margin-bottom: 0;
  background-image: url("images/35e8f6a5341d3b1b35f7b33142c808ff-2412741-1745x1163.jpg");
}

.u-section-3 .u-container-layout-1 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  margin: 27px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 685px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 498px;
  }

  .u-section-3 .u-image-1 {
    min-height: 306px;
  }

  .u-section-3 .u-btn-1 {
    font-size: 0.875rem;
    margin-top: 51px;
    margin-bottom: 51px;
  }
} .u-section-4 {
  background-image: linear-gradient(#e0cfbe, white);
}

.u-section-4 .u-sheet-1 {
  min-height: 593px;
}

.u-section-4 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 300;
  margin: 38px auto 0 27px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 51px;
  margin-bottom: 58px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 374px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 29px;
}

.u-section-4 .u-image-1 {
  height: 295px;
  background-image: url("images/Capturedcran2024-08-272253041.png");
  background-position: 50% 0%;
  width: 295px;
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  background-size: cover;
  margin: 7px 45px 0 1px;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 14px auto 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 374px;
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  box-shadow: 0px 2px 8px 0px rgba(128,128,128,1);
  padding: 0 21px 25px;
}

.u-section-4 .u-text-3 {
  font-size: 1.125rem;
  margin: 24px 0 0 9px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 308px;
  }

  .u-section-4 .u-image-1 {
    height: 253px;
    width: 253px;
    margin-right: 9px;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 308px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 259px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 359px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-4 .u-image-1 {
    height: 180px;
    width: 180px;
    margin-top: 37px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1rem;
    width: auto;
    margin-top: 24px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 344px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-bottom: 27px;
  }

  .u-section-4 .u-text-3 {
    font-size: 0.875rem;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 359px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 294px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 689px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 55px;
    margin-bottom: 54px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 142px;
  }

  .u-section-4 .u-container-layout-1 {
    padding: 9px 0;
  }

  .u-section-4 .u-image-1 {
    height: 124px;
    width: 124px;
    margin-top: 0;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-top: -81px;
    margin-left: 154px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 364px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-4 .u-text-3 {
    font-size: 0.75rem;
    width: auto;
    margin-top: 20px;
  }
} .u-section-5 {
  background-image: linear-gradient(white, #e0cfbe);
}

.u-section-5 .u-sheet-1 {
  min-height: 519px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 65px;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 394px;
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  box-shadow: -2px 0px 8px 0px rgba(128,128,128,1);
  padding: 30px;
}

.u-section-5 .u-text-1 {
  font-size: 1.125rem;
  margin: 0 10px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 368px;
}

.u-section-5 .u-container-layout-2 {
  padding: 5px 14px 0;
}

.u-section-5 .u-image-1 {
  height: 293px;
  background-image: url("images/1-20220908_155739-768x1248.jpg");
  background-position: 50% 50%;
  width: 293px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 1px 34px 0 auto;
}

.u-section-5 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 10px auto 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 528px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 325px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 303px;
  }

  .u-section-5 .u-image-1 {
    background-position: 50% 25.34%;
    margin-right: 8px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 461px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 60px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 336px;
  }

  .u-section-5 .u-text-1 {
    font-size: 0.875rem;
    width: auto;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 336px;
  }

  .u-section-5 .u-image-1 {
    height: 224px;
    width: 224px;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    font-size: 1rem;
    margin-top: 25px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 923px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 514px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 184px;
    margin-bottom: 0;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 300px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-bottom: 21px;
  }

  .u-section-5 .u-text-1 {
    font-size: 0.75rem;
    margin-top: 7px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 30px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-image-1 {
    height: 141px;
    width: 141px;
    margin-top: -471px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    margin-top: -67px;
    margin-right: 11px;
  }
} .u-section-6 {
  background-image: url("images/1N5A5666.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 953px;
}

.u-section-6 .u-group-1 {
  width: 676px;
  min-height: 325px;
  height: auto;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 133px auto 0 -25px;
}

.u-section-6 .u-container-layout-1 {
  padding: 21px 10px 30px;
}

.u-section-6 .u-text-1 {
  font-weight: 300;
  font-size: 3.75rem;
  margin: 21px 40px 0 0;
}

.u-section-6 .u-text-2 {
  letter-spacing: 1px;
  font-size: 1rem;
  font-style: italic;
  width: auto;
  margin: 0 20px;
}

.u-section-6 .u-slider-1 {
  min-height: 229px;
  width: 339px;
  height: auto;
  margin: 239px auto 27px 0;
}

.u-section-6 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  inset: auto auto 37px 64px;
}

.u-section-6 .u-image-1 {
  background-image: url("images/273459943_105229135420384_6445066905635958513_n.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 65px;
}

.u-section-6 .u-image-2 {
  background-image: url("images/freepik-logo-freelogovectors.net_-removebg-preview.png");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-3 {
  padding: 0;
}

.u-section-6 .u-carousel-control-1 {
  width: 45px;
  height: 45px;
}

.u-section-6 .u-carousel-control-2 {
  width: 45px;
  height: 45px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 717px;
  }

  .u-section-6 .u-group-1 {
    height: auto;
  }

  .u-section-6 .u-text-1 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 808px;
  }

  .u-section-6 .u-group-1 {
    width: 444px;
    min-height: 188px;
    margin-top: 281px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 42px;
  }

  .u-section-6 .u-text-2 {
    font-size: 0.875rem;
  }

  .u-section-6 .u-slider-1 {
    min-height: 175px;
    width: 259px;
    margin-top: 153px;
    margin-bottom: 11px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 717px;
  }

  .u-section-6 .u-group-1 {
    margin-left: 0;
  }

  .u-section-6 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 441px;
  }

  .u-section-6 .u-group-1 {
    width: 340px;
    margin-top: -32px;
    margin-left: -50px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-bottom: 12px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1rem;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    font-size: 0.625rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-slider-1 {
    min-height: 92px;
    width: 136px;
    margin-top: 28px;
    margin-bottom: 60px;
  }
}