 .u-section-1 {
  background-image: url("images/333.png");
}

.u-section-1 .u-sheet-1 {
  min-height: 881px;
}

.u-section-1 .u-group-1 {
  min-height: 188px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  width: 1140px;
  margin: 233px auto 60px -12px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 9px;
  padding-right: 9px;
}

.u-section-1 .u-group-2 {
  min-height: 188px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  margin: 0;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 300;
  margin: 0 93px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 617px;
  }

  .u-section-1 .u-group-1 {
    width: 940px;
    margin-left: 0;
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-group-2 {
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 546px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 601px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 363px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.125rem;
  }
} .u-section-2 {
  background-image: none;
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 381px;
}

.u-section-2 .u-list-1 {
  width: 1050px;
  margin: 70px auto 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 14px));
  min-height: 208px;
  --gap: 21px;
  grid-auto-columns: calc(33.3333% - 14px);
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 19px;
}

.u-section-2 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  font-weight: 300;
  margin: 20px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 19px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  font-size: 1.25rem;
  padding: 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 30px 19px;
}

.u-section-2 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  text-transform: uppercase;
  font-weight: 300;
  margin: 20px 0 0;
}

.u-section-2 .u-text-4 {
  margin: 19px 0 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  font-size: 1.25rem;
  padding: 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 30px 19px;
}

.u-section-2 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  text-transform: uppercase;
  font-weight: 300;
  margin: 20px 0 0;
}

.u-section-2 .u-text-6 {
  margin: 19px 0 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  font-size: 1.25rem;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 960px;
  }

  .u-section-2 .u-list-1 {
    width: 940px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 14px) calc(33.3333% - 14px) calc(33.3333% - 14px);
    min-height: 207px;
    grid-gap: 21px;
    grid-auto-columns: calc(33.333333333333336% - 14px);
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 979px;
  }

  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.3333% - 14px));
    min-height: 249px;
    grid-auto-columns: calc(33.3333% - 14px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1394px;
  }

  .u-section-2 .u-list-1 {
    width: 363px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
    min-height: 653px;
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 6px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 6px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 6px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 593px;
    grid-auto-columns: calc(100% + 0px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 0;
  }
} .u-section-3 {
  background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(254, 243, 232, 1));
  min-height: 1096px;
}

.u-section-3 .u-text-1 {
  font-style: italic;
  font-weight: 400;
  font-size: 3.75rem;
  margin: 80px 227px 0 262px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 39px;
  margin-bottom: 0;
}

.u-section-3 .u-image-1 {
  min-height: 365px;
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), url('images/1200x680_gettyimages-173596684.jpg');
  background-position: 50% 50%;
  background-size: auto 110%;
}

.u-section-3 .u-container-layout-1 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  padding: 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 392px;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  padding: 30px;
}

.u-section-3 .u-text-2 {
  font-size: 3rem;
  font-weight: 400;
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  margin: 13px 0 0 20px;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 469px;
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  padding: 30px;
}

.u-section-3 .u-text-4 {
  font-size: 3rem;
  font-weight: 400;
  margin: 13px 39px 0;
}

.u-section-3 .u-text-5 {
  margin: 13px 0 0 20px;
}

.u-section-3 .u-image-2 {
  min-height: 469px;
  background-image: url("images/top-view-circular-frame-with-equipment1.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-4 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 1145px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 46px;
    margin-right: calc(((100% - 940px) / 2)  + 76px);
    margin-left: calc(((100% - 940px) / 2)  + 113px);
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 68px;
    margin-bottom: 50px;
  }

  .u-section-3 .u-image-1 {
    --radius: 40px;
    min-height: 301px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 323px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    width: 339px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 387px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 73px;
  }

  .u-section-3 .u-image-2 {
    --radius: 40px;
    min-height: 487px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 1113px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 63px;
    margin-right: calc(((100% - 720px) / 2)  + -31px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 51px;
    margin-bottom: -49px;
  }

  .u-section-3 .u-image-1 {
    min-height: 231px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-text-2 {
    font-size: 2.75rem;
  }

  .u-section-3 .u-text-3 {
    width: 275px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 520px;
  }

  .u-section-3 .u-text-4 {
    font-size: 2.75rem;
    margin-top: 0;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-right: 73px;
    margin-left: 0;
  }

  .u-section-3 .u-image-2 {
    min-height: 373px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 1947px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
    margin-top: 54px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 20px;
  }

  .u-section-3 .u-image-1 {
    min-height: 347px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-layout-cell-3 {
    order: 1;
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-4 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-image-2 {
    order: 0;
    min-height: 560px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 1557px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 52px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
    font-size: 2.25rem;
  }

  .u-section-3 .u-image-1 {
    min-height: 218px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 458px;
  }

  .u-section-3 .u-image-2 {
    min-height: 353px;
  }
} .u-section-4 {
  background-image: linear-gradient(rgba(254, 243, 232, 1), rgba(255, 255, 255, 1));
}

.u-section-4 .u-sheet-1 {
  min-height: 939px;
}

.u-section-4 .u-text-1 {
  margin: 40px auto 0;
}

.u-section-4 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 59px;
  margin-bottom: 14px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 8px));
  min-height: 676px;
  grid-auto-columns: calc(50% - 8px);
  --gap: 16px;
}

.u-section-4 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/depositphotos_101141024-stock-photo-entering-hotel-room.jpg');
  background-position: 50% 50%, 50% 50%;
  background-size: cover, cover;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 28px;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 20px auto 0;
}

.u-section-4 .u-text-3 {
  margin: 40px -3px 0 40px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  margin: 20px -3px 0 40px;
  padding: 0;
}

.u-section-4 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/tlchargement.jpeg');
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 28px;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 20px auto 0;
}

.u-section-4 .u-text-5 {
  margin: 40px -3px 0 40px;
}

.u-section-4 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-4 {
  background-image: none;
  margin: 20px -3px 0 40px;
  padding: 0;
}

.u-section-4 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/images6.jpeg');
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-3 {
  padding: 0 28px;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 20px auto 0;
}

.u-section-4 .u-text-7 {
  margin: 40px -3px 0 40px;
}

.u-section-4 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-6 {
  background-image: none;
  margin: 20px -3px 0 40px;
  padding: 0;
}

.u-section-4 .u-image-4 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/5d8263e76327020547dac3375d535656.jpeg');
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-4 {
  padding: 0 28px;
}

.u-section-4 .u-text-8 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 20px auto 0;
}

.u-section-4 .u-text-9 {
  margin: 40px -3px 0 40px;
}

.u-section-4 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-8 {
  background-image: none;
  margin: 20px -3px 0 40px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-repeater-1 {
    grid-gap: 16px;
    min-height: 557px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-btn-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-btn-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-btn-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-btn-8 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 873px;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: 60px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-5 {
  background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(254, 243, 232, 1));
}

.u-section-5 .u-sheet-1 {
  min-height: 965px;
}

.u-section-5 .u-text-1 {
  margin: 40px auto 0;
}

.u-section-5 .u-text-2 {
  margin: 20px 60px 0 43px;
}

.u-section-5 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 59px;
  margin-bottom: 40px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 8px));
  min-height: 676px;
  grid-auto-columns: calc(50% - 8px);
  --gap: 16px;
}

.u-section-5 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('images/depositphotos_55337023-stock-photo-closeup-of-car.jpg');
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding: 0 28px;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 20px auto 0;
}

.u-section-5 .u-text-4 {
  margin: 14px 4px 0 0;
}

.u-section-5 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/saintpetersburg-russia-27-february-2020-600nw-1658707669.webp');
  background-position: 50% 50%, 50% 50%;
  background-size: cover, cover;
}

.u-section-5 .u-container-layout-2 {
  padding: 0 28px;
}

.u-section-5 .u-text-5 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 20px auto 0;
}

.u-section-5 .u-text-6 {
  margin: 14px 4px 0 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('images/istockphoto-535519483-612x612.jpg');
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-3 {
  padding: 0 28px;
}

.u-section-5 .u-text-7 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 20px auto 0;
}

.u-section-5 .u-text-8 {
  margin: 14px 4px 0 0;
}

.u-section-5 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-image-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('images/images21.jpeg');
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-4 {
  padding: 0 28px;
}

.u-section-5 .u-text-9 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 20px auto 0;
}

.u-section-5 .u-text-10 {
  margin: 14px 4px 0 0;
}

.u-section-5 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-btn-8 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-repeater-1 {
    grid-gap: 16px;
    min-height: 557px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 0;
  }

  .u-section-5 .u-text-6 {
    margin-right: 0;
  }

  .u-section-5 .u-text-8 {
    margin-right: 0;
  }

  .u-section-5 .u-text-10 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-6 {
  min-height: 500px;
}