 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('images/074--Grard-Cottet-2160x1440.jpg');
}

.u-section-1 .u-sheet-1 {
  min-height: 661px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 400;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 455px 301px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 15px 301px 60px 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 545px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 101px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 101px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 417px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 313px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 197px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
} .u-section-2 {
  background-image: linear-gradient(#e0cfbe, #fef3ed);
}

.u-section-2 .u-sheet-1 {
  min-height: 416px;
}

.u-section-2 .u-group-1 {
  min-height: 453px;
  height: auto;
  margin-top: -44px;
  margin-bottom: 60px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
}

.u-section-2 .u-container-layout-1 {
  padding: 51px 60px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  margin: 39px 0 0;
}

.u-section-2 .u-icon-1 {
  width: 52px;
  height: 52px;
  margin: -118px auto 0 248px;
  padding: 5px;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 90px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    min-height: 501px;
    height: auto;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 143px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    min-height: 459px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 30px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: -123px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: 95px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    min-height: 443px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: -118px;
    margin-left: 24px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
    margin-top: 90px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 502px;
  }

  .u-section-2 .u-group-1 {
    margin-top: -36px;
    margin-bottom: 52px;
    min-height: 486px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 17px 20px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 52px;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 607px;
}

.u-section-3 .u-list-1 {
  grid-template-rows: repeat(3, auto);
  width: 1016px;
  margin: 42px auto 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 16.5px));
  min-height: 386px;
  --gap: 33px;
  grid-auto-columns: calc(50% - 16.5px);
}

.u-section-3 .u-container-layout-1 {
  padding: 0 30px 0 0;
}

.u-section-3 .u-icon-1 {
  height: 45px;
  width: 45px;
  margin: 0 517px 0 0;
  padding: 0;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: -45px 1px 0 95px;
}

.u-section-3 .u-text-2 {
  margin: 20px 1px 0 95px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 30px 0 0;
}

.u-section-3 .u-icon-2 {
  height: 45px;
  width: 45px;
  margin: 0 517px 0 0;
  padding: 0;
}

.u-section-3 .u-text-3 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: -45px 1px 0 95px;
}

.u-section-3 .u-text-4 {
  margin: 20px 1px 0 95px;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 30px 0 0;
}

.u-section-3 .u-icon-3 {
  height: 45px;
  width: 45px;
  margin: 0 517px 0 0;
  padding: 0;
}

.u-section-3 .u-text-5 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: -45px 1px 0 95px;
}

.u-section-3 .u-text-6 {
  margin: 20px 1px 0 95px;
}

.u-section-3 .u-container-layout-4 {
  padding: 0 30px 0 0;
}

.u-section-3 .u-icon-4 {
  height: 45px;
  width: 45px;
  margin: 0 517px 0 0;
  padding: 0;
}

.u-section-3 .u-text-7 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: -45px 1px 0 95px;
}

.u-section-3 .u-text-8 {
  margin: 20px 1px 0 95px;
}

.u-section-3 .u-container-layout-5 {
  padding: 0 30px 0 0;
}

.u-section-3 .u-icon-5 {
  height: 45px;
  width: 45px;
  margin: 0 517px 0 0;
  padding: 0;
}

.u-section-3 .u-text-9 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: -45px 1px 0 95px;
}

.u-section-3 .u-text-10 {
  margin: 20px 1px 0 95px;
}

.u-section-3 .u-container-layout-6 {
  padding: 0 30px 0 0;
}

.u-section-3 .u-icon-6 {
  height: 45px;
  width: 45px;
  margin: 0 517px 0 0;
  padding: 0;
}

.u-section-3 .u-text-11 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: -45px 1px 0 95px;
}

.u-section-3 .u-text-12 {
  margin: 20px 1px 0 95px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: none;
  letter-spacing: 0px;
  font-size: 1rem;
  --radius: 50px;
  text-transform: none;
  font-weight: 700;
  margin: 79px auto 53px;
  padding: 7px 22px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    width: 940px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 16.5px) calc(50% - 16.5px);
    min-height: 357px;
    grid-gap: 33px;
  }

  .u-section-3 .u-icon-1 {
    margin-right: 477px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-right: 0;
    margin-left: 90px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 25px;
    margin-right: 0;
    margin-left: 90px;
  }

  .u-section-3 .u-icon-2 {
    margin-right: 477px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-right: 0;
    margin-left: 90px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 25px;
    margin-right: 0;
    margin-left: 90px;
  }

  .u-section-3 .u-icon-3 {
    margin-right: 477px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-right: 0;
    margin-left: 90px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-top: 25px;
    margin-right: 0;
    margin-left: 90px;
  }

  .u-section-3 .u-icon-4 {
    margin-right: 477px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-right: 0;
    margin-left: 90px;
  }

  .u-section-3 .u-text-8 {
    width: auto;
    margin-top: 25px;
    margin-right: 0;
    margin-left: 90px;
  }

  .u-section-3 .u-icon-5 {
    margin-right: 477px;
  }

  .u-section-3 .u-text-9 {
    width: auto;
    margin-right: 0;
    margin-left: 90px;
  }

  .u-section-3 .u-text-10 {
    width: auto;
    margin-top: 25px;
    margin-right: 0;
    margin-left: 90px;
  }

  .u-section-3 .u-icon-6 {
    margin-right: 477px;
  }

  .u-section-3 .u-text-11 {
    width: auto;
    margin-right: 0;
    margin-left: 90px;
  }

  .u-section-3 .u-text-12 {
    width: auto;
    margin-top: 25px;
    margin-right: 0;
    margin-left: 90px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-icon-1 {
    margin-right: 362px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 75px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 27px;
    margin-left: 75px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-icon-2 {
    margin-right: 362px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 75px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 27px;
    margin-left: 75px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-icon-3 {
    margin-right: 362px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 75px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 27px;
    margin-left: 75px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-icon-4 {
    margin-right: 362px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 75px;
  }

  .u-section-3 .u-text-8 {
    margin-top: 27px;
    margin-left: 75px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-icon-5 {
    margin-right: 362px;
  }

  .u-section-3 .u-text-9 {
    margin-left: 75px;
  }

  .u-section-3 .u-text-10 {
    margin-top: 27px;
    margin-left: 75px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-icon-6 {
    margin-right: 362px;
  }

  .u-section-3 .u-text-11 {
    margin-left: 75px;
  }

  .u-section-3 .u-text-12 {
    margin-top: 27px;
    margin-left: 75px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1145px;
  }

  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-3 .u-icon-1 {
    margin-right: 278px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-3 .u-icon-2 {
    margin-right: 278px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-3 .u-icon-3 {
    margin-right: 278px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-right: 10px;
  }

  .u-section-3 .u-icon-4 {
    margin-right: 278px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-right: 10px;
  }

  .u-section-3 .u-icon-5 {
    margin-right: 278px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-right: 10px;
  }

  .u-section-3 .u-icon-6 {
    margin-right: 278px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 42px;
    margin-bottom: 42px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1316px;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-icon-1 {
    margin-right: 173px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -37px;
    margin-left: 60px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 28px;
    margin-left: 60px;
  }

  .u-section-3 .u-icon-2 {
    margin-right: 173px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -37px;
    margin-left: 60px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 28px;
    margin-left: 60px;
  }

  .u-section-3 .u-icon-3 {
    margin-right: 173px;
  }

  .u-section-3 .u-text-5 {
    margin-top: -37px;
    margin-left: 60px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 28px;
    margin-left: 60px;
  }

  .u-section-3 .u-icon-4 {
    margin-right: 173px;
  }

  .u-section-3 .u-text-7 {
    margin-top: -37px;
    margin-left: 60px;
  }

  .u-section-3 .u-text-8 {
    margin-top: 28px;
    margin-left: 60px;
  }

  .u-section-3 .u-icon-5 {
    margin-right: 173px;
  }

  .u-section-3 .u-text-9 {
    margin-top: -37px;
    margin-left: 60px;
  }

  .u-section-3 .u-text-10 {
    margin-top: 28px;
    margin-left: 60px;
  }

  .u-section-3 .u-icon-6 {
    margin-right: 173px;
  }

  .u-section-3 .u-text-11 {
    margin-top: -37px;
    margin-left: 60px;
  }

  .u-section-3 .u-text-12 {
    margin-top: 28px;
    margin-left: 60px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 28px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 116px;
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 61px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 72px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 64px;
  }
}